*{
    margin: 0;
}
img{
    max-width: 100%;
}
body{
    font-family: Arial;
}
header{
    background-color: rgb(182, 61, 61);
    color: white;
    height: 25vh;
    text-align: center;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 2.5rem;
    margin-top: 3rem;
}
main{
    height: 50vh;
}
.container{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.field{
    display:flex;
    justify-content: center;
}
.character{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
}
.character img{
    width: 20rem;
}
button{
    width: 8rem;
    background-color: rgb(50, 50, 255);
    color: white;
    border: none;
    font-size: 1.2rem;
    padding:1rem;
    cursor: pointer;
}
.console{
    height: 5vh;
    background-color: black;
    color: white;
    height: 15rem;
    margin-bottom: 1rem;

}
footer{
    height: 15vh;
    background-color: black;
    color: white;
    text-align: center;
}